@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}

html, body {
    height: 100%;
}


body {
    font-family: "Nunito Sans", sans-serif;
    color: #333;
}

div {
    display: block;
    padding: 0px;
    margin: 0px;
}


#header {
    position: relative;
}

/* 맨 위 부분 */
#header .header_top {
    height: 45px;
    border-bottom: 0px solid #ececec;
    background-color: #877e9e;
    padding: 8px 15px;
    color: #ececec;
}

#header .header_top a {
    color: #ececec;
    font-size: 20px;
}

#header .header_top a:hover {
        text-decoration: none;
}

#header .top_menu a {
    float: left;
}

#header .top_menu a:hover {
        text-decoration: none;
}

#header .top_menu {
    float: right;
    position: relative;
    margin-top: 7px;
    line-height: 1;
    z-index: 150;
}

#header .top_menu_title{
    float: right;
}


#header .top_menu li {
    float: left;
    position: relative;
}

#header .top_menu li a{
    display: inline-block;
    padding: 4px 5px;
    color: #ececec;
    font-size: 10px;
}



/* 로고 부분 */

#header .header_title{
    border-bottom: 1px solid #e2e2e2;
    background-color: #f0ecec;
}

#header .header_title_cont {
    min-height: 120px;
}

#header .header_search_cont:after {
    display: block;
    clear: both;
    content: "";
}

.header_title_cont, .gnb {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#header .title_logo {
    font-size: 14px;
    text-align: center;
    padding: 20px 0 20px 0;
}

.title_logo img {
    background-color: #f0ecec;
    border-radius: 50%;
    vertical-align: middle;
    width: 155px;
    height: 155px;
}

.title_text a {
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    height: 200px;
}

.card img {
    
    height: 200px;
}

.card-title {
    color: white;
}

.card-text-1 a {
    text-align: right;
}


img {
    border: 0 none;
    text-align: center;
    vertical-align: top;
    top: 50%;
    width: 128px;
    height: 128px;
}



/* 메뉴바 부분 */


.dropdown{
    position : relative;
    display : inline-block;
}

.dropbtn{
    border : 1px solid #f6f6f6;
    border-radius : 5px;
    background-color: #f5f5f5;
    color : rgb(37, 37, 37);
    padding : 12px;
    width :196.2px;
    text-align: center;
    cursor : pointer;
}

.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    background-color: #f9f9f9;
    min-width : 200px;
}

.dropdown-content a{
    border : 1px solid rgb(126, 126, 126);
    border-radius : 5px;
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    padding : 12px 20px;
}

.dropdown-content a:hover{
    text-decoration: none;
    background-color : #ececec;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* 메인 부분 */

#main {
    position: relative;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    min-height: 50%;
    padding-bottom: 60px;
}

#main a:hover {
    text-decoration: none;
}

/*
#main img {
    width: 50%;
    height: 50%;
}*/

.title_line {
    text-align: left;
    border-bottom: solid 3px #555555;
}

.aside_right {
    text-align: right;
}

.form-group {
    text-align: left;
}

.chatbot {
    position: fixed;
    z-index : 1;
    bottom: 3%;
    right: 3%;
}

.chatbot img {
    width: 60px;
    height: 60px;
}

.title_1 {
    border-bottom: 1px solid #555555; 
    text-align: left;
    margin: 10px;
}


/* 마지막부분  */

#footer_wrap {
    position: relative;
    border-top: 0px solid #e3e3e3;
}

#footer {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #877e9e;
    transform: translatY(-100%);
}

.foot_cont {
    position: relative;
    overflow: hidden;
    padding: 20px 0 35px 0;
    color: #a9a9a9;
    font-size: 12px;
    line-height: 1.8;
    text-align: left;
    margin-left: 15%;
    width: 50%;
}

    
    


.foot_cont .foot_logo {
    display: inline-block;
    /* float: left; */
    width: 20%;
    padding: 0px 40px 0px 40px;   
}
.foot_cont .foot_logo img {
    border-radius: 50%;
}

.foot_cont .foot_info {
    display: inline-block;
    /* float: left;  */
}

.foot_cont .foot_info_list {
    overflow: hidden;
    width: 100%;
}



.foot_cont .foot_info_list dt {
    float: left;
    color: #e2e2e2;
    font-size: 20px;
}

.foot_cont .foot_info_list dd {
    float: left;
    padding: 0 15px 0 0px;
    color: #e2e2e2;
    font-size: 20px;
}

/* 회원 가입 부분 - 우편 번호 버튼 클릭 시  */

#wrap {
    display:none;
    border:1px solid;
    width:500px;
    height:300px;
    margin:5px 110px;
    position:relative;
}

#wrap img {
    cursor:pointer;
    position:absolute;
    right:0px;
    top:-1px;
    z-index:1;
    width: 20px;
    height: 20px;
}


/* order_pay 부분 */

.aside_left {
    border: 1px solid #ececec;
    border-radius: 10px;
    text-align: left;
}

/* notice 부분 */
.notice_title_img {
    width: 50%;
    float: left;
    margin-right: 10px;
}

.notice_title_img img {
    width: 100%;
}
.notice_title {
    width: 48%;
    height: 260px;
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}

/* notice 댓글 부분  */
#reply_list {
    text-align: left;
}
.reply {
    margin: 10%;
}

#reply_list img {
    width: 20px;
    height: 20px;
    float: right;
}