@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}

body {
    font-family: "Nunito Sans", sans-serif;
    color: #333;
}

div {
    display: block;
    padding: 0px;
    margin: 0px;
}


#header {
    position: relative;
}

/* 맨 위 부분 */
#header .header_top {
    height: 45px;
    border-bottom: 0px solid #ececec;
    background-color: #877e9e;
    padding: 8px 15px;
    color: #ececec;
}

#header .header_top a {
    color: #ececec;
    font-size: 20px;
}

#header .top_menu a {
    float: left;
}

#header .top_menu {
    float: right;
    position: relative;
    margin-top: 7px;
    line-height: 1;
    z-index: 150;
}

#header .top_menu_title{
    float: right;
}


#header .top_menu li {
    float: left;
    position: relative;
}

#header .top_menu li a{
    display: inline-block;
    padding: 4px 5px;
    color: #ececec;
    font-size: 10px;
}



/* 로고 부분 */

#header .header_title{
    border-bottom: 1px solid #e2e2e2;
    background-color: #f0ecec;
}

#header .header_title_cont {
    min-height: 120px;
}

#header .header_search_cont:after {
    display: block;
    clear: both;
    content: "";
}

.header_title_cont, .gnb, .foot_cont{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#header .title_logo {
    font-size: 14px;
    text-align: center;
    padding: 30px 0 30px 0;
}

.title_logo img {
    background-color: #f0ecec;
    border-radius: 50%;
}


.title_a{
    position: absolute;
    text-align: center;
    left: 540px;
    font-size: 14px;
    font-weight: bold;
}

img {
    border: 0 none;
    text-align: center;
    vertical-align: top;
    top: 50%;
    width: 128px;
    height: 128px;
}



/* 메뉴바 부분 */

.gnb {
    border-bottom: 1px solid #e2e2e2;
}

.dropdown{
    position : relative;
    display : inline-block;
}

.dropbtn{
    border : 0px solid rgb(126, 126, 126);
    border-radius : 5px;
    background-color: #f5f5f5;
    font-weight: 400;
    color : rgb(37, 37, 37);
    padding : 12px;
    width :196.2px;
    text-align: center;
    cursor : pointer;
    font-size : 14px;
}

.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 200px;
}

.dropdown-content a{
    border : 1px solid rgb(126, 126, 126);
    border-radius : 5px;
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 14px;
    padding : 12px 20px;
}

.dropdown-content a:hover{
    background-color : #ececec
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* 메인 부분 */

#main {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 900px;
    text-align: center;
}

#main img {
    width: 600px;
    height: 600px;
}

.title_line {
    text-align: left;
    border-bottom: solid 3px #555555;
}

.aside_right {
    text-align: right;
}

.form-group {
    text-align: left;
}

/* 마지막부분  */

#footer_wrap {
    position: relative;
    border-top: 0px solid #e3e3e3;
}

#footer {
    overflow: hidden;
    padding: 0 0 40px 0;
    background-color: #877e9e;
}

.foot_cont {
    overflow: hidden;
    padding: 35px 0 35px 0;
    color: #a9a9a9;
    font-size: 12px;
    line-height: 1.8;
}

.foot_cont .foot_logo {
    display: inline-block;
    /* float: left; */
    width: 220px;
    padding: 0px 40px 0px 40px;   
}
.foot_cont .foot_logo img {
    border-radius: 50%;
}

.foot_cont .foot_info {
    display: inline-block;
    /* float: left;  */
}

.foot_cont .foot_info_list {
    overflow: hidden;
    width: 100%;
}


.foot_cont .foot_info_list dl {
    float: left;
}

.foot_cont .foot_info_list dt {
    float: left;
}

.foot_cont .foot_info_list dd {
    float: left;
    padding: 0 15px 0 3px;
    color: #e2e2e2;
}

